@import "../../styles/theme.less";

@coupon-modal: coupon-modal;

.@{coupon-modal} {
  z-index: 9999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .flex(center, center, column);
  background-color: rgba(0, 0, 0, .6);

  &-container {
    width: 668px;
    height: 889px;
    position: relative;
    .bg;
    background-image: url(//net.huanmusic.com/scanbar-c/v2/popup_coupon_n.png);

    &-listNew {
      position: absolute;
      top: 330px;
      left: 32px;
      height: 385px;
      width: 90%;
    }
    &-list {
      position: absolute;
      top: 300px;
      left: 32px;
      height: 415px;
      width: 90.5%;
    }
  }

  &-footer {
    position: absolute;
    top: 734px;
    left: 32px;
    width: 605px;
    height: 140px;
    .flex(center, center);
  }

  &-button {
    background-image: linear-gradient(#FFCF3D, #FABD2A);
    width: 577px;
    height: 77px;
    .flex(center, center);
    color: #F75959;
    font-size: 35px;
    line-height: 35px;
    // position: absolute;
    // bottom: 36px;
    // left: 30px;
    border-radius: 84px;
    border: none;
  }

  &-close {
    width: 100px;
    height: 100px;
    .flex(center, center);
    margin-top: 10px;

    &-img {
      width: 57px;
      height: 57px;
    }
  }

  &-item {
    margin-top: 13px;
    &-get {
      color: #fff !important;
      background-color: #FF893B;
    }
    &-text-grey {
      color: #CCCCCC !important;
    }

    &-border-grey {
      border-color: #CCCCCC !important;
    }
    &-topNew { 
      width: 90% !important;
    }
    &-top {
      position: relative;
      .flex(center, center, row);
      width: 95%;
      margin: auto;
      height: 151px;
      z-index: 2;
      .bg;
      background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_coupon.png);

      &-grey {
        background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_coupon_grey_expand.png);
      }

      &-left {
        .flex(center, center, column);
        width: 175px;
        height: 100%;
        color: #fff;

        &-price {
          font-size: 66px;
          line-height: 66px;
          font-weight: bold;
          position: relative;
        }

        &-sign {
          font-size: 20px;
          line-height: 20px;
          font-weight: bold;
          position: absolute;
          right: -15px;
          top: 10px;
        }

        &-info {
          font-size: 21px;
          line-height: 21px;
          margin-top: 20px;
        }
      }

      &-right {
        .flex(flex-start, center, column);
        width: 396px;
        height: 100%;
        margin-left: 46px;

        &-row {
          .flex(center, center, row);
          margin-top: 25px;
        }

        &-info {
          font-size: 25px;
          line-height: 25px;
          color: #333333;
          font-weight: bold;
        }

        &-time {
          font-size: 18px;
          line-height: 18px;
          color: #666666;
        }
      }

      &-button {
        position: absolute;
        right: 30px;
        top: 65px;
        .flex(center, center);
        width: 109px;
        height: 41px;
        color: #FF893B;
        font-size: 23px;
        text-align: center;
        border: #FF893B solid 2px;
        border-radius: 20px;
      }
    }
  }
}

.coupon {
  &-item {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    &-text-grey {
      color: #CCCCCC !important;
    }

    &-border-grey {
      border-color: #CCCCCC !important;
    }

    &-top {
      position: relative;
      .flex(center, center, row);
      width: 100%;
      margin: auto;
      height: 181px;
      z-index: 2;
      .bg;
      background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_coupon.png);
      border-radius: 10px;
      background-size: 100% 100%;
      &-grey {
        background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_coupon_grey.png);
        background-size: 100% 100%;
        border-radius: 10px;
      }

      &-left {
        .flex(center, center, column);
        height: 100%;
        color: #fff;
        width: 35%;
        &-price {
          font-size: 80px;
          line-height: 80px;
          font-weight: bold;
          position: relative;
          width: 80%;
          margin-right: 20px;
          text-align: center;
        }
        &-priceAuto {
          font-size: auto;
          line-height: 80px;
          font-weight: bold;
          position: relative;
          width: 80%;
          margin-right: 20px;
          text-align: center;
        }
        &-sign {
          font-size: 24px;
          line-height: 24px;
          font-weight: bold;
          position: absolute;
          right: -15px;
          top: 10px;
        }

        &-info {
          font-size: 26px;
          line-height: 26px;
          margin-top: 10px;
        }
      }

      &-right {
        .flex(flex-start, center, column);
        width: 68%;
        height: 100%;
        margin-left: 58px;

        &-row {
          .flex(center, center, row);
          margin-top: 15px;
        }

        &-info {
          font-size: 30px;
          line-height: 30px;
          color: #333333;
        }

        &-time {
          font-size: 22px;
          line-height: 22px;
          color: #666666;
        }

        &-pop {
          width: 50px;
          height: 50px;
          .flex(center, center);

          &-img {
            width: 18px;
            height: 10px;
            // margin-left: 25px;
            transform: rotate(180deg);

            &-down {
              transform: rotate(0deg);
            }
          }

        }
      }

      &-button {
        position: absolute;
        right: 30px;
        top: 65px;
        .flex(center, center);
        width: 132px;
        height: 50px;
        line-height: 50px;
        color: #FF893B;
        font-size: 28px;
        text-align: center;
        border: #FF893B solid 2px;
        border-radius: 25px;

        &-grey {
          background-color: #CCCCCC;
          color: #FFFFFF;
          border: none;
        }
        &-isGet {
          background-color: #FF893B;
          color: #FFFFFF;
          border: none;
        }
      }

      &-radio {
        position: absolute;
        right: 40px;
        top: 73px;
        width: 36px;
        height: 36px;
      }
    }

    &-bottom {
      z-index: 1;
      width: 100%;
      margin: auto;
      padding: 46px 27px 33px 27px;
      margin-top: -19px;
      border-radius: 10px;
      .flex(flex-start, center, column);
      background-color: #fff;

      &-prompt {
        .flex(center, center, row);

        &-icon {
          width: 22px;
          height: 22px;
          margin-right: 8px;
        }
      }

      &-info {
        font-size: 22px;
        line-height: 35px;
        color: #666666;
      }
    }
  }
}

.at-modal__container {
  background-color: transparent !important;
}
