@import "../../styles/theme.less";

@user-prefix: user;
@user-bg-size: 416px;
page {
  background: #f2f2f2;
}
.@{user-prefix} {
  background-color: #f2f2f2;
  .flex(center, flex-start, column);
  width: 100%;
  height: 100%;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: @user-bg-size;
    width: 100%;
    .background-image("//net.huanmusic.com/scanbar-c/v2/bg_mine.png");
    z-index: 0;
  }

  &-container {
    .flex(center, flex-start, column);
    .padding(30px, lr);
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
  }

  &-user {
    position: relative;
    .flex(center, center, column);
    .margin(45px, t);
    // .margin(50px, b);
    width: 100%;
    background-color: transparent;
    border: transparent;
    &-image {
      width: 140px;
      height: 140px;
      border-radius: 70px;
    }

    &-box {
      display: flex;
      flex-direction: column;
      .margin(17px, t);
    }

    &-name {
      color: #fff;
      font-size: 36px;
      height: 38px;
      font-weight: bold;
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      .flex(center, center, row);

      &-get {
        background-color: transparent;
        padding: 0;
      }
    }

    &-member {
      height: 184px;
      background-color: #fff;
      border-radius: 10px;
      .flex(center, space-around);
      font-size: 18px;
      line-height: 18px;
      background-color: transparent;
      color: #fff;
      border-radius: 10px;
      margin-left: 15px;
    }

    &-phone {
      font-size: 30px;
      color: #ffffff;
    }
  }

  &-rows {
    margin-top: 30px;
    width: 98%;
    z-index: 1;

    &-item {
      position: relative;
      padding: 34px 30px;
      border-radius: 10px;
      background-color: #fff;
      width: 100%;
      margin-bottom: 22px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &-left {
        display: flex;
        align-items: center;

        &-icon {
          width: 40px;
          height: 40px;
        }

        &-title {
          color: #333333;
          font-size: 30px;
          margin-left: 16px;
        }
      }

      &-right {
        &-icon {
          width: 13px;
          height: 24px;
        }
      }

      &-border {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(227, 227, 227, 1);
      }
    }
  }

  &-code {
    position: absolute;
    right: 40px;
    top: 70px;
    width: 32px;
    height: 32px;
    z-index: 99;
    .bg;
    background-image: url(//net.huanmusic.com/scanbar-c/v2/icon_mine_code.png);
  }

  &-member {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    .flex(center, space-around, row);
    z-index: 1;

    &-item {
      .padding(36px, tb);
      .flex(center, center, column);
      color: #333333;
      font-size: 24px;
      position: relative;

      &-vip {
        width: 70px;
        height: 60px;
        .margin(24px, b);
        .bg;
        background-image: url(//net.huanmusic.com/weapp/icon_mine_vip.png);
      }
      &-coupon {
        width: 78px;
        height: 54px;
        .margin(24px, b);
        .bg;
        background-image: url(//net.huanmusic.com/weapp/icon_mine_coupon.png);
      }

      &-discount {
        min-width: 160px;
      }

      &-number {
        font-weight: bold;
        font-size: 36px;
      }

      &-pop {
        position: absolute;
        top: 10px;
        right: 0px;
        transform: translate(50%, 0);
        margin-left: 10px;
        min-width: 96px;
        padding: 0 15px;
        white-space: nowrap;
        height: 28px;
        .bg;
        background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_coupon_prompt.png);
        color: #ff893b;
        font-size: 20px;
        .flex(center, center);
      }
    }
  }

  &-set {
    &-button {
      width: 670px;
      height: 80px;
      margin: 124px - 22px;
    }
  }

  &-coupon {
    &-tabs {
      width: 100%;
      height: 90px;
    }

    &-bannerEmpty {
      width: 692px;
      height: 176px;
      margin: 25px 0px 5px 0px;
    }
    &-banner {
      width: 692px;
      height: 215px;
      margin: 25px 0px 5px 0px;
    }
    &-bannerEmptyH5 {
      width: 692px;
      height: 177px;
      margin: 25px 0px 5px 0px;
    }
    &-bannerH5 {
      width: 692px;
      height: 212px;
      margin: 25px 0px 5px 0px;
    }
    &-scrollview {
      display: block;
      background-color: #f2f2f2;
      height: calc(100% - 90px);
      width: 100%;
      &-full {
        height: 100% !important;
      }

      &-bottom {
        width: 100%;
        .padding(50px, tb);
        .flex(center, center, row);
        font-size: 26px;
        color: #999999;
      }

      &-item {
        display: flex;
        justify-content: center;
        width: 100%;

        &-container {
          display: flex;
          width: 690px;
          .margin(20px, t);
          flex-direction: column;
          background-color: #fff;
          border-radius: 10px;

          &-img {
            background-image: url(//net.huanmusic.com/scanbar-c/bg_coupon_white.png);
            .bg;
            width: 690px;
            height: 222px;
          }
        }

        &-avatar {
          width: 100px;
          height: 100px;
          border-radius: 10px;
          .bg;
          background-image: url(//net.huanmusic.com/scanbar-c/icon_shop_default.png);
          background-color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(229, 229, 229, 1);
        }

        &-grey {
          color: #666666;
          font-size: 22px;
          line-height: 22px;
        }

        &-top {
          width: 690px;
          height: 149px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          // .padding(30px, tb);
          .padding(24px, l);
          .padding(50px, r);

          &-left {
            display: flex;
            flex-direction: row;
          }

          &-info {
            .margin(20px, l);
            .padding(10px, tb);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-name {
              color: #333333;
              font-size: 30px;
              font-weight: bold;
              line-height: 30px;
            }
          }

          &-discount {
            .padding(5px, tb);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            &-price {
              color: #FF893B;
              font-size: 60px;
              line-height: 60px;
              font-weight: bold;
              text-align: center;
              display: flex;
              flex-direction: row;
              align-items: flex-start;
            }

            &-symbol {
              font-size: 22px;
              line-height: 22px;
            }
          }
        }

        &-bottom {
          position: relative;
          display: flex;
          flex: 1;
          flex-direction: row;
          align-items: center;
          width: 690px;
          height: 73px;
          .padding(24px, t);
          .padding(27px, b);
          .padding(32px, lr);
        }

        &-expand {
          width: 18px;
          height: 10px;
          .margin(19px, l);
        }

        &-button {
          display: flex;
          width: 132px;
          height: 42px;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 26px;
          line-height: 26px;
          background-color: #FF893B;
          border-radius: 21px;
          position: absolute;
          top: 14px;
          right: 30px;
        }

        &-more {
          .margin(-17px, t);
          .padding(32px, lr);
          .padding(27px, b);

          &-margin {
            .margin(10px, t);
          }
        }
      }

      &-unable {
        display: flex;
        flex-direction: column;
      }
    }

    &-grey {
      color: #666666;
      font-size: 26px;
      margin-top: 44px;
      margin-left: 32px;
    }
  }

  &-code-page {
    background-color: #f2f2f2;
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 235px;
      width: 100%;
      .background-image("//net.huanmusic.com/weapp/bg_order.png");
      z-index: 0;
    }
    &-container {
      padding: 25px 30px 0;
      z-index: 1;
      position: absolute;
      width: 100%;
      &-inner {
        position: relative;
        width: 100%;
        padding-top: 75px;
      }
    }
    &-user-image {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      &-cont {
        background-color: #fff;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border-radius: 100%;
        padding: 5px;
        &-outter {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    &-user-box {
      background-color: #fff;
      border-radius: 10px;
      padding: 93px 0 63px;
      text-align: center;
      margin-bottom: 74px;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &-user-name {
      font-size: 36px;
      line-height: 1em;
      position: relative;
      display: inline-block;
      &-user-name-outter {
        display: flex;
        justify-content: center;
      }
    }
    &-user-member {
      position: absolute;
      left: calc(~"100% + 10px");
      top: 2px;
      height: 32px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid rgba(216, 174, 109, 1);
      border-radius: 10px;
      padding: 0 10px;
      font-size: 18px;
      font-weight: 500;
      color: rgba(216, 174, 109, 1);
    }
    &-user-phone {
      .margin(16px, t);
      .margin(40px, b);
      line-height: 30px;
      font-size: 30px;
      color: rgba(102, 102, 102, 1);
    }
    &-bar-code {
      margin: 60px 0;
      image {
        width: 530px !important;
        height: 153px !important;
      }
    }
    &-qr-code {
      & > div {
        width: 350px !important;
        height: 350px !important;
      }
      image {
        width: 350px !important;
        height: 350px !important;
      }
    }
    .theme-button {
      background-color: #2ba725 !important;
      border-color: #2ba725 !important;
    }
    .wechat-icon {
      .background-image("//net.huanmusic.com/scanbar-c/wechat_icon.png");
      width: 28px;
      height: 28px;
      margin-right: 16px;
    }
  }
  &-card {
    &-bg {
      height: 240px;
      background: linear-gradient(
        180deg,
        rgba(42, 134, 252, 1),
        rgba(54, 195, 255, 1),
        rgba(255, 255, 255, 1)
      );
    }
    &-item {
      display: flex;
      flex-direction: row;
      .padding(30px, t);
      position: relative;
      width: 690px;
      height: 280px;
      .margin(30px, l);
      .margin(20px, t);
      .background-image("//net.huanmusic.com/weapp/bg_mine_vipcard.png");

      &-level {
        position: absolute;
        top: 48px;
        left: 575px;
        color: #FFF8CA;
        font-size: 26px;
        line-height: 26px;
      }

      &-top {
        width: 690px;
        height: 160px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-bottom {
        width: 690px;
        height: 134px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #8A664E;
          font-size: 24px;
        }

        &-number {
          color: #8A664E;
          font-size: 36px;
          font-weight: bold;
          .margin(10px, b);
        }
      }

      &-interest {
        display: flex;
        flex-direction: column;
        .margin(42px, t);
        .padding(32px, lr);

        &-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          .margin(24px, b);
        }

        &-symbol {
          background-color: #2A86FC;
          width: 8px;
          height: 30px;
          border-radius: 4px;
        }

        &-title {
          color: #333333;
          font-size: 30px;
          font-weight: bold;
          .margin(16px, l);
        }

        &-content {
          color: #666666;
          font-size: 24px;
        }
      }
      
      &-avatar {
        .margin(30px, l);
        // .margin(30px, t);
        width: 100px;
        height: 100px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(229, 229, 229, 1);
        border-radius: 10px;
        .bg;
        background-image: url(//net.huanmusic.com/scanbar-c/icon_shop_default.png);
      }

      &-detail {
        display: flex;
        flex-direction: column;
        .margin(18px, l);
      }
      &-title {
        font-size: 36px;
        font-weight: bold;
        color: rgba(138, 102, 78, 1);
      }
      &-number {
        font-size: 22px;
        color: rgba(138, 102, 78, 1);
      }
      &-vip {
        position: absolute;
        bottom: 49px;
        left: 72px;
        font-size: 30px;
        color: rgba(138, 102, 78, 1);
        &-detail {
          position: absolute;
          top: 40px;
          right: 0px;
          font-size: 26px;
          color: rgba(255, 248, 202, 1);
        }
      }
      &-icon {
        position: absolute;
        bottom: 51px;
        right: 53px;
        font-size: 26px;
        color: rgba(255, 248, 202, 1);
      }
    }
  }
}
