@import "../../../styles/theme.less";

@prefix: index-component;

@address-height: 140px;

.@{prefix} {
  &-address {
    height: @address-height;
    .padding(30px, lr);
    .padding(3px, t);
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(42, 134, 252, 1),
      rgba(54, 195, 255, 1)
    );
    // .bg;
    // background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_home_shang.png);

    display: flex;
    flex-direction: column;
    &-icon {
      .margin(10px, l);
      width: 20px;
      height: 10px;
      .bg;
      background-image: url(//net.huanmusic.com/scanbar-c/v1/block.png);
    }
    &-title {
      .flex(center, flex-start, row);
      &-icon {
        width: 34px;
        height: 34px;
        .margin(10px, r);
      }
      &-text {
        .clamp(1);
        max-width: 320px;
        font-size: 36px;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        .margin(10px, r);
      }
    }
    &-box {
      .margin(18px, t);
      display: flex;
    }
    &-merchant {
      .padding(20px, lr);
      .padding(8px, tb);
      height: 38px;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 19px;
      .flex(center, center, row);
      &-name {
        font-size: 22px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        line-height: 22px;
        text-align: center;
      }
    }
    &-search {
      position: absolute;
      bottom: 20px;
      right: 30px;
      .flex(center, center, row);
      width: 690px;
      height: 54px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 27px;
      &-icon {
        width: 31px;
        height: 31px;
        .margin(14px, r);
      }
      &-text {
        font-size: 28px;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &-discount {
    width: 100%;
    height: 122px;
    .bg;
    background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_home_zhong.png);
    .flex(flex-start, space-around, row);

    &-item {
      position: relative;
      // width: ;
      height: 88px;
      .flex(center, space-between, column);
      color: #fff;
      font-size: 24px;

      &-data {
        font-size: 36px;
        font-weight: bold;
      }

      &-integral {
        width: 43px;
        height: 43px;
        // margin-bottom: 19px;
      }

      &-coupon {
        width: 47px;
        height: 42px;
      }
    }

    &-pop {
      position: absolute;
      top: 0;
      right: -106px;
      width: 96px;
      height: 28px;
      .bg;
      background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_coupon_prompt.png);
      color: #ff893b;
      font-size: 20px;
      .flex(center, center);
    }
  }

  &-banner {
    width: 100%;
    height: 245px;
    position: relative;
    .flex(flex-start, center);

    &-bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 150px;
      .bg;
      background-image: url(//net.huanmusic.com/scanbar-c/v2/bg_home_xia.png);
    }

    &-swiper {
      width: 95%;
      height: 220px;

      &-item {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        .bg;
      }
    }
  }

  &-tab {
    .flex(center, flex-start, row);
    .padding(30px, lr);

    &-item {
      position: relative;
      .margin(56px, r);
      .padding(14px, tb);
      font-size: 30px;
      color: rgba(153, 153, 153, 1);
      &-active {
        font-size: 34px;
        font-weight: bold;
        color: rgba(44, 134, 254, 1);
      }
      &-border {
        position: absolute;
        bottom: 0px;
        height: 4px;
        width: 130px;
        background: rgba(44, 134, 254, 1);
        border-radius: 2px;
      }
    }
  }

  &-card {
    // position: relative;
    height: 240px;
    background: linear-gradient(
      180deg,
      rgba(42, 134, 252, 1),
      rgba(54, 195, 255, 1),
      rgba(255, 255, 255, 1)
    );
    .padding(30px, l);
    .padding(7px, t);

    &-close {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      width: 78px;
      height: 29px;
      .bg;
      background-image: url(//net.huanmusic.com/scanbar-c/icon_shouqi_l.png);
    }

    &-tip {
      font-size: 30px;
      font-weight: bold;
      color: rgba(51, 51, 51, 1);
      .margin(35px, t);
    }

    &-text {
      .margin(20px, t);
      width: 521px;
      font-size: 24px;
      color: rgba(102, 102, 102, 1);
    }

    &-wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      background: #fff;
    }

    &-detail {
      .flex(flex-start, flex-start, column);
      position: relative;
      width: 690px;
      // height: 230px;
      min-height: 230px;
      background: rgba(255, 255, 255, 1);
      box-shadow: 0px 2px 13px 0px rgba(116, 162, 221, 0.45);
      border-radius: 10px;
      .padding(30px, tb);
      .padding(24px, lr);

      &-pos {
        position: absolute;
        // top: 30px;
        top: 7px;
        left: 30px;
        bottom: 40px;
      }

      &-like {
        position: absolute;
        right: 24px;
        top: 32px;
        width: 34px;
        height: 31px;
        .bg;
        background-image: url(//net.huanmusic.com/scanbar-c/icon_collect_grey.png);
        &-active {
          background-image: url(//net.huanmusic.com/scanbar-c/icon_collect_orange.png);
        }
      }

      &-top {
        .flex(center, flex-start, row);
        height: 124px;
        width: 100%;
      }

      &-right {
        .flex(flex-start, flex-start, column);
        .margin(17px, l);
        flex: 1;
        height: 100%;
      }

      &-activitys {
        .margin(20px, t);
        display: flex;
        flex-direction: row;
      }

      &-activity {
        .padding(10px, lr);
        height: 30px;
        border: 1px solid rgba(252, 78, 68, 1);
        border-radius: 10px;
        font-size: 20px;
        color: rgba(252, 78, 68, 1);
      }

      &-avatar {
        width: 124px;
        height: 124px;
        .bg;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(229, 229, 229, 1);
        border-radius: 10px;
      }

      &-title {
        height: 36px;
        font-size: 36px;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
      }

      &-stant {
        font-size: 20px;
        line-height: 20px;
        color: rgba(153, 153, 153, 1);
        .clamp;
        .margin(26px, t);
      }
    }
  }

  &-search {
    background-color: #fff;
    .padding(24px, tb);
    .padding(30px, l);
    .flex(center, space-between, row);
    &-input {
      width: 540px;
      height: 54px;
      background: rgba(248, 248, 250, 1);
      border-radius: 27px;
      .flex(center, flex-start, row);
      &-icon {
        .margin(30px, lr);
        width: 30px;
        height: 30px;
        .bg;
        background-image: url(//net.huanmusic.com/scanbar-c/icon_search_grey.png);
      }
    }

    &-member {
      .flex(center, center, row);
    }
  }
}
